@charset "utf-8";

/* =============== common ============== */
body {
  margin: 0;
}

h1 {
  margin: 0;
}

h2 {
  margin: 0;
  font-size: 20px;
  font-weight: normal;
}

h3 {
  margin: 0;
  font-size: 16px;
  font-weight: normal;
}

p {
  margin: 0;
}

img {
  vertical-align: bottom;
}

.container {
  width: calc(100% - 64px);
  max-width: 600px;
  margin: 0px auto;
  padding: 32px 0;
  box-sizing: border-box;
}

/* =============== header ============== */

/* =============== main ============== */
.products {
  margin: 32px;
}

.products ul {
  margin: 32px 0 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
  list-style: none;
}

.products li {
  width: calc((100% - 64px) / 3);
  box-sizing: border-box;
}

.products img {
  width: 100%;
  height: auto;
}

.products h3 {
  margin-top: 8px;
}

/* =============== footer ============== */
footer {
  margin-top: 32px;
  text-align: center;
}

small {
  font-size: 14px;
}