@charset "utf-8";

body {
  margin: 0 auto;
}

header {
  padding: 32px 0;
  text-align: center;
  background: #eee;
}

header img {

  border-radius: 50%;
}

header h1{
  margin: 26px 0 0;
  font-size: 1.5em;
  font-weight: normal;
}

header p {
  margin: 0;
}

main {
  width: 400px;
  margin: 0 auto;
}

main h2{
  padding-top: 32px;
  text-align: center;
  font-weight: normal;
}

main h3 {

  font-size: 1.3rem;
  font-weight: normal;
}

.work {
  padding-top: 48px;
}
