@charset "utf-8";

body {
  margin: 0 auto;
}

header {
  padding: 32px 0;
  text-align: center;
  background: #eee;
}

header img {
  border-radius: 50%;
}

header h1 {
  margin: 26px 0 0;
  font-size: 24px;
  font-weight: normal;
}

header p {
  margin: 0;
}

main {
  margin: 64px 0;
}

main h2 {
  margin: 0;
  font-size: 24px;
  text-align: center;
  font-weight: normal;
}

main h3 {
  margin: 16px 0 0;
  font-size: 20px;
  font-weight: normal;
}

.work {
  width: 400px;
  margin: 64px auto 0;
}

.work p {
  margin: 16px 0 0;
  line-height: 1.8;
}


footer {
  border-top: 2px solid #ddd;
  padding: 64px 0;
  text-align: center;
}

footer small {
  font-size: 14px;
  color: #aaa;
}

footer img {
  margin-top: 16px;
}

footer a:hover {
  cursor: pointer;
  opacity: 0.7;
}