@charset "utf-8";

/*=========== common ============ */
body {
  margin: 0;
}

img {
  vertical-align: bottom;
}

.btn {
  padding: 8px 16px;
  border-radius: 8px;

  box-sizing: border-box;
  background: green;
  color: #fff;
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
}

h2 {
  margin: 0;
  font-weight: normal;
  text-align: center;
}

h3 {
  margin: 0;
  font-weight: normal;
}

p {
  margin: 0;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  width: calc(100% - 32px);
  box-sizing: border-box;
}

/* =========== header ============ */
header {
  padding: 16px;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h1 {
  margin: 0;
  font-size: 0;
}

.logo-pc {
  display: none;
}

/* =========== main ============ */
.main-head {
  padding-top: 64px;
  text-align: center;
  background: skyblue repeat-x center bottom url("img/bg.png");
}

.main-head .btn {
  margin-top: 64px;
}

.app-img {
  margin-top: 64px;
}


.features {
  margin: 64px 0;
}

.feature {
  padding-top: 64px;
}

.pic {
  margin: 0 auto;
}

.feature h3 {
  margin-top: 16px;
}

.feature p {
  margin-top: 16px;
}

/* =========== footer ============ */
footer {
  padding: 64px 0;
  background: #444;
  text-align: center;
  color: #fff;
}

small {
  font-size: 14px;
}


/* =========== large screen ============ */
@media (width >=600px) {

  /* =========== header ============ */
  .logo-sp {
    display: none;
  }

  .logo-pc {
    display: inline;
  }

  /* =========== main ============ */
  .main-head .container {
    display: flex;
    align-items: center;
  }

  .main-head .container div {
    flex: 1;
  }

  .main-head img {
    margin-top: 0;
  }


  .feature {
    display: flex;
    gap: 32px;
  }

  .pic {
    width: 300px;
  }

  .desc {
    flex: 1;
  }

  .feature:nth-child(odd) {
    flex-direction: row-reverse;
  }
}